{% extends "base.html" %}
{% block content %}
  <h1>Lisää luokka</h1>

  {% if errors %}
    <div class="alert alert-danger">
      <ul>
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <form method="post" action="{{base_path}}/luokat">
    <div class="form-group">
      <label>Nimi</label>
      <input name="nimi" class="form-control" type="text">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-success">Lisää</button>
    </div>
  </form>
{% endblock %}