{% extends "base.html" %}
{% block content %}
{% for askare in askare %}
  <h1>Muokkaa askaretta {{askare.nimi}}</h1>

  <form>
    <div class="checkbox">
      <label>
        <input type="checkbox">
        Suoritettu
      </label>
    </div>
    <div class="form-group">
      <label>Nimi</label>
      <input class="form-control" value={{askare.nimi}} type="text">
    </div>
    <div class="form-group">
      <label>Deadline</label>
      <input class="form-control" value={{askare.deadline}} type="text">
    </div>
    <div class="form-group">
      <label>Tärkeysaste</label>
    <select multiple class="form-control" value={{askare.tarkeysaste}}>
	    <option>1</option>
	  	<option>2</option>
	  	<option>3</option>
	  	<option>4</option>
	  	<option>5</option>
	  </select>	
    </div>
    <div class="form-group">
      <label>Luokka</label>
      <input class="form-control" value="Luokka" type="text">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-success">Tallenna</button>
    </div>
  </form>
  {% endfor %}
{% endblock %}