{% extends "base.html" %}
{% block content %}
  {% if user_logged_in %}
    <h1>Käyttäjän {{user_logged_in.username}} askareet</h1>
  {% endif %}

  <p>
    <a href="/tietokantasovellus/askareet/new" class="btn btn-primary">Lisää askare</a>
  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nimi</th>
        <th>Deadline</th>
        <th>Tärkeysaste</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {% for askare in askareet %}
        <tr>
          <td>{{askare.nimi}}</td>
          <td>{{askare.deadline}}</td>
          <td>{{askare.tarkeysaste}}</td>
          <td><a class="btn btn-default btn-sm" href="{{base_path}}/askareet/{{askare.atunnus}}">Muokkaa</a></td>
          <td><form method="post" action="{{base_path}}/askareet/{{askare.atunnus}}/destroy" style="display: inline-block;">
      <button type="submit" class="btn btn-danger btn-sm">Suoritettu/Poista</button>
    </form></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}